.change-password-overlay {
    position: absolute;
    inset: 0;
    z-index: 40;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.password-change-card {
    max-width: 350px;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    background-color: rgba(255, 255, 255, 0.6);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

.password-change-card .description{
   text-align: center;
    color: black;
}

.password-change-card .description p{
    font-size: 13px;
    color: rgb(90, 78, 78);
}


.password-change-card .text-field{
    margin-top: 5vh;
}

.password-change-card .text-field1{
    margin: 3vh 0;
}

.password-change-card .text-field1 input{
    width: 100%;
    height: 3em;
    margin-top: 8px;
    background: #ffffff;
    border: none;
    outline: none;
    border-radius: 8px;
    padding: 1em 1.5em;
    color: black;
}

.password-change-card .text-field-rule p{ 
    color: rgb(48, 45, 45);
    margin: 10px 0;
    font-size: 12px;
}
.password-change-card .text-field-rule .rule1{
    display: flex;
    gap: .5vw;
    align-items: center;
}
.password-change-card-btn button{
    width: 100%;
    border-radius: 30px;
    margin-top: 2vh;
    background: #0f0b43;
}