.collection-border {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 0;
    padding: 20px;
    align-items: center;
    background-color: hsla(140, 18%, 3%, 0.70);
    border-radius: 10px;
}

.participant-container {
    overflow-y: scroll;
    flex: 1 1 0;
}

.participant-container::-webkit-scrollbar {
    display: none;
}

.collection-container label {
    color: #C1B5FF;
    font-weight: bold;
    font-size: 11px;
}

.collection-container{
    position: relative;
    width: 95%;
    flex: 1 1 0;
   
    display: flex;
    flex-direction: column;
}

.collection-container .collection-name {
    flex: 1 1 calc(70%);
}

.collection-container .description {
    flex: 1 1 calc(80%)
}

.collection-container .collection-amount {
    flex: 1 1 calc(40%);
}

.collection-container .row {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.auto-assign {
    font-size: 8px;
    text-wrap:wrap;
    width: 10px;
}

:where(.css-dev-only-do-not-override-42nv3w).ant-input-outlined.ant-input-disabled, :where(.css-dev-only-do-not-override-42nv3w).ant-input-outlined[disabled] {
    background-color: #232238;
    color: white;
}

.collection-container .same-level {
    flex: 1 1 calc(30%);
}

.collection-border .column {
    display: flex;
    flex-direction: column;
}

.participant-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
}

.ant-picker {
    background-color: #232238;
    color: white;
    width: 100%;
    margin: 0;
}


.ant-picker:hover, .ant-picker:focus {
    background-color: #232238;
    color: white;
}

.ant-picker-input input {
    margin: 0;
    padding: 0;
}

.ant-picker-input input::placeholder {
    color: rgb(255, 255, 255);
}

:where(.css-dev-only-do-not-override-42nv3w).ant-picker-outlined:focus, :where(.css-dev-only-do-not-override-42nv3w).ant-picker-outlined:focus-within{
    background-color: #232238;
    color: white;
}

.control-keys {
    display: flex;
    flex-direction: row;
}

.collection-border .front-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}





