.comment-base {
    background-color: rgba(0, 0, 0, 0.425);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.comment-base .new-comment {
    display: flex;
    padding: 5px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}