.cmp-row{
    flex-direction: row;
    display: flex;
    margin-top: 20px;
}

.cmp-complaint-form {
    background-color: #1C1F31;
    padding: 20px;
    border-radius: 10px;
    
  }
  
  .cmp-complaint-form h3 {
    margin-bottom: 20px;
    color: white;
  }
  
  .cmp-complaint-form form {
    display: flex;
    flex-direction: column;
  }
  
  .cmp-complaint-form form label {
    margin-bottom: 10px;
    color: white;
  }
  
  .cmp-complaint-form form input[type="text"],
  .cmp-complaint-form form textarea,
  .cmp-complaint-form form input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .cmp-complaint-form form textarea {
    height: 100px;
  }
  
  .cmp-complaint-form form .identity {
    display: flex;
    align-items: center;
  }
  
  .cmp-complaint-form form .identity span {
    margin-left: 10px;
  }
  
  .cmp-complaint-form form button {
    width: 100px;
    padding: 10px;
    margin-top: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .cmp-complaint-form form btn{
    flex-direction: row;
    
  }
  .cmp-complaint-form form button[type="submit"] {
    background-color: #4a4a8c;
    color: white;
  }
  
  .cmp-complaint-form form button[type="reset"] {
    background-color: #4a4a8c;
    color: white;
    margin-left: 50px;
  }
  