.complaint-row {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    width: 100%;
    border-radius: inherit;
    padding: 10px;
}


.cmp-column {
    flex: 1 1 0;
    display: flex;
    flex-direction: column;
    margin: 5px;
}
