

.cmp-panel-outside-border .cmp-row1 {
    justify-content: space-evenly;
    width: 50%;
}
.cmp-panel-outside-border .cmp-row1 h2{
    color: aliceblue;
    font-weight: bold;
    font-size: 30px;
    text-align-last: center;
}

.cmp-panel-outside-border .cmp-column {
    width: 48%;
    
}
.cmp-panel-outside-border .cmp-column1 {
    margin-top: 30px;

     
 }
.cmp-panel-outside-border .cmp-column2 {
    margin-top: 6px;

     
 }
