.treasury-dashboard {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
}

.treasury-dashboard .column {
    display: flex;
    width: 50%;
    flex-direction: column;
    margin: 10px;
    position: relative;
    z-index: 5;
}

.treasury-card {
    width: 100%;
    position: relative;
    aspect-ratio: 2;
    position: relative;
    border-radius: 25px;
    z-index: 12;
}

.treasury-card::after {
    content: "";
    inset: 0;
    position: absolute;
    border-radius: 25px;
    opacity: 0.5;
    background-color: black;
}

.card-container {
    position: relative;
}

.card-overlay > h1 {
    font-size: 3vw;
}

.card-overlay > div > h2 {
    font-size: 1.vw;
}

.card-overlay > p {
    font-size: 1.1vw;
    line-height: 1;
}

.card-overlay {
    position: absolute;
    inset: 0;
    border-radius: 50px;
    display: flex;
    z-index: 20;
    padding: 20px;
    justify-content: space-evenly;
    flex-direction: column;
}

.card-overlay > div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

/* Balance card */
.balance-card {
    width: 70%;
    aspect-ratio: 2;
    border-radius: 26px;
    background: linear-gradient(to right, #5A71FB, #5C5AA6, rgb(7, 25, 109));
    box-shadow: inset 0 0 50px rgb(26, 34, 39);
    padding: 5%;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

.balance-card > h1 {
    font-size: 2.2vw;
}

.balance-card > h2 {
    font-size: 1.8vw;
    color: #9DF6F6;
}


.treasury-dashboard .scroll-column {
    overflow-y: scroll;
}

.treasury-dashboard .scroll-column::-webkit-scrollbar {
    display: none;
}
