.dash02 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background: linear-gradient(170deg, #110E19, #404A9C);
}

.dash02 > p {
    margin: 30px;
    color: #DFDFDF;
}

.display-picture > img {
    position: absolute;
    left: 0;
    left: 0;
    width: 100%;
}

.support {
    border-radius: 20px;
    padding: 0 10px 0 10px;
    margin: 0 20px;
    border: 3px transparent solid;
    transition: border 0.3s;
}

.support:hover {
    border: 3px #646CFF solid;
    transition: border 0.3s;
    cursor: pointer;
}