.dash02 {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(170deg, #110E19, #404A9C);
}

.dash02 > p {
    margin: 30px;
    color: #DFDFDF;
}

.display-picture > img {
    position: absolute;
    left: 0;
    left: 0;
    width: 100%;
}

.support {
    border-radius: 20px;
    padding: 0 10px 0 10px;
    margin: 0 20px;
    border: 3px transparent solid;
    transition: border 0.3s;
}

.support:hover {
    border: 3px #646CFF solid;
    transition: border 0.3s;
    cursor: pointer;
}

.addBtn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color: #15131F;
    aspect-ratio: 1;
    width: 7vh;
    border-radius: 100%;
    bottom: 50px;
    right: 50px;
    z-index: 10;
}

.addBtn:active {
    box-shadow: 0 0 5px white;
}

.addBtn > img {
    width: 100%;
}

.main-content {
    margin: 20px 20px 0 20px;
    height: 75%;
    justify-self:self-end;
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}