.icon-menu {
    justify-self: end;
    position: absolute;
    right: 10px;
    cursor: pointer;
    padding: 15px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-menu:active {
    background-color: #f0f8ff55;
}

.ledger-border {
    position: relative;
    border: 3px solid #A2A0D7;
    height: 100%;
    margin: 10px 0;
    border-radius: 25px;
    padding: 10px 20px;
    /* display: flex; */
    height: 100%;
    /* flex-direction: column; */
    overflow-y: auto;
    -ms-overflow-style: none;
}

.ledger-border::-webkit-scrollbar {
    display: none;
}

.ledger-border  h2 {
    font-size: 25px;
}

.ledger-border .row {
    display: flex;
    width: 100%;
    position: relative;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.single-ledger-border {
    width: 100%;
    min-height: 50px;
    margin-top: 5px;
    border-radius: 10px;
    position: relative;
}

.single-ledger-border > .background {
    position: absolute;
    inset: 0;
    background-color: black;
    
    opacity: 0.32;
    border-radius: inherit;
}

.single-ledger-border > .content{
    position: relative;
    inset: 0;
    padding: 0 10px;
}

.content > .row {
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.content > .row > .column {
    display: flex;
    flex-direction: column;
    width: fit-content;
    /* min-width: 70%; */
}

.content-column {
    flex-wrap: nowrap;
}

.amount, .date-time {
    text-align: end;
    white-space: nowrap;
    
}

.date-time {
    color: rgba(219, 219, 219, 0.87);
    font-size: 15px;
}

.description {
    color: rgba(241, 241, 241, 0.87);
}

.menu-options {
    position: absolute;
    min-width: 100px;
    min-height: 200px;
    right: 50px;
    top: 10px;
    z-index: 50;
    display: flex;
    flex-direction: column;
}

.menu-options > button {
    margin-bottom: 5px;
}

/* Leger New Form */

.ledger-form-overlay {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 50;
    width: 100vw;
    height: 100vh;
}

.form-content {
    position: absolute;
    inset: 0;
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-content > .new-form-ledger {
    position: relative;
    min-width: 40%;
    border: 3px solid #A2A0D7;
    border-radius: 25px;
    backdrop-filter: blur(10px);
    /* -webkit-backdrop-filter: blur(115px); */
    padding: 60px 30px;
    border: 1px solid var(--btnBorder);
    z-index: 120;
}

.title-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: -5%;
    margin-bottom: 20px;
}

.ledger-content-new {
    display: flex;
    flex-direction: column;
    margin-bottom: 15px;
}

.ant-input {
    background-color: #232238;
    border: 0;
    color: white;
    min-width: inherit;
}

.ant-input:focus, .ant-input:hover {
    margin: 0;
    background-color: #232238;
}

.evidence-container {
    width: 100%;
    height: 100px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
}

.add-btn {
    margin: 5px;
    border-radius: inherit;
    background-color: #232238;
    aspect-ratio: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #A2A0D7;
}

.add-btn:active {
    box-shadow:inset 0 0 10px#A2A0D7;
    border: 3px solid #A2A0D7;
}

.ledger-form-overlay .submission {
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.ledger-form-overlay .submission > button {
    border: 2px solid #A2A0D7;
}

.amount-container {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
}

.amount-container > .ant-switch, .ant-switch:hover  {
    margin: 0 0;
    background-color: red;
} 



.ant-input:where(.css-dev-only-do-not-override-42nv3w).ant-input-outlined.ant-input-status-error:not(.ant-input-disabled) {
    background-color: rgb(248, 34, 34);
}

.ant-switch-handle {
    margin: 0;
    inset-inline-start: 0;
}

.amount-container.amount-container > .ant-switch, .ant-switch:hover  {
    margin: 30px;
}

.amount-container > .ant-switch-checked {
    background-color: #6CDB9A;
}

#category-input {

}

.category-search-box {
    position: relative;
    z-index: 20;
}

.category-search-results {
    width: 100%;
    height: 200px;

    position: absolute;
}

.search-result {
    padding: 12px;
    background-color: rgb(6, 18, 29);
}

.search-result:hover {
    background-color: aliceblue;
    color: #232238;
    cursor: pointer;
}