.chat-container {
    width: 100%;
    flex: 1 1 0;
    border-radius: inherit;
    display: flex;
    flex-direction: column;

}

.chat-container .chat-heading{
    padding: 10px 50px;

}


.chat-container .messages {
    /* background-color: red; */
    width: 100%;
    flex: 1 1 0;
}

.message-input {
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.message-input input {
    height: 40px;
}

.message-input input::placeholder {
    color: rgba(240, 248, 255, 0.692);
}

.message-input .send-button {
    height: 40px;
    padding: 0px 20px;
}

.message-input button {
    height: 40px ;
}

.message-input button img {
    height: 20px;
}


