.message-block-border {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column-reverse;
}

.receiver-row {
    padding-right: 7%!important;
    justify-content: flex-start;
}

.sender-row {
    padding-left: 7%!important;
    justify-content: flex-end;
}

.message-block-border .row {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    margin: 5px 0;
    padding: 5px 2%;
}

.message-block-border .message-bubble {
    width: fit-content;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    padding: 5px 15px;
}

.receiver {
    background-color: #363636;
}

.receiver h5 {
    color: #3fc4f8;
}

.sender h5 {
    color: #1aee3e;
}

.sender {
    background-color: #005FF9;
    align-items: flex-end;
}