.gigs-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 80%;
    height: 100%;
    /* background-color: red; */
    
    overflow-y: auto;
    -ms-overflow-style: none;
    
}

.gigs-container::-webkit-scrollbar {
    display: none;
}