.news-section {
    position: relative;
    padding: 10px;
    /* background-color: red;  */
    height: 100%;
    flex-grow: 1;   
    overflow-y: auto;
    -ms-overflow-style: none;
    margin: 0 10px 10px 10px;
    border-radius: 25px;
    border: 4px solid #a3a0fa;
}

.news-section::-webkit-scrollbar {
    display: none;
}

/* Tried to make gradient border but failed this is reminder for future changes */

/* .news-section:before {
    content: "";
    margin: 0 10px;
    z-index: 1;
    position: absolute;
    inset: 0;
    /* background-color: blue; */


.news-section .topic {
    display: flex;
    margin: 10px;
    flex-direction: row;
}

.topic > img {
    margin: 0 10px;
}

