.whole-or {
    display: flex;
    width: 100%;
    margin: 20px 0 15px 0;
    flex-direction: row;
    align-items: center;
}

.text {
    color: #7D7690;
    font-size: 10px;
    width: fit-content;
    font-weight: bold;
}

.line {
    margin: 5px;
    background-color: #7D7690;
    height: 1px;
    flex-grow: 1;
}