.participant-free-space {
    width: 100%;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.single-participant-border {
    width: 90%;
    border-top: 1px solid #B7B5EB;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    
}

.single-participant-border:hover {
    background-color: #817dee;
    transition: background-color ;
}

.single-participant-border > .counter {
    display: flex;
    flex-direction: row;
    align-items: center;
}



.user-details {
    flex-grow: 2;
}

.counter {
    flex-grow: 0.2;
}

.email {
    flex-grow: 2;
}

.mobile-num {
    flex-grow: 1;
}

.position {
    flex-grow: 1;
}