.plate {
    display: flex;
    flex-direction: row;
    width: 20vw;
    
    height: fit-content;
    padding: 20px;
    border-radius: inherit;
    /* margin-bottom: 6px; */
    cursor: pointer;
}

.plate:hover {
    box-shadow: inset 0px 0px 35px rgba(253, 253, 253, 0.2);
}

.light {
    background-color: hsla(234, 40%, 14%, 0.98);
}

.light > h2 {
    color: #F3F3F3;
    font-size: 1vw;
}

.dark > h2 {
    color: #37375B;
}

.dark {
    background-color: #C1B5FF;
}

.margin {
    margin-bottom: 8px;
}

.plate > h2 {
    
    letter-spacing: 0.08em;
    font-size: 1.8vw;
}

.plate > img {
    margin-right: 20px;
    width: 2.3vw;
    height: 2.3vw;
}
