.recent-collection-border {
    margin-top: 10px;
    width: 100%;
    padding: 1%;
}

.recent-collection-border .collection-container {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    position: relative;
}

.recent-collection-border .blur {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: inherit;
    opacity: 0.4;
    background-color: black;
}

.recent-collection-border .col-content {
    position: relative;
    inset: 0;
    z-index: 50;
    border-radius: inherit;
    border: 2px solid #C1B5FF;
    padding: 10px;
}

.recent-collection-border .content-fonts {
    font-family: "Roboto";
    font-size: 0.85vw;
}

.recent-collection-border .payment-container {
    position: relative;
    width: 100%;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.recent-collection-border .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.recent-collection-border .action-button {
    background-color: red;
    font-size: small;
}
