.report-preview-border {
    width: 100%;
    height: 70vh;
    border: 3px solid #B7B5EB;
    display: flex;
    flex-direction: column;
    justify-content: start;
    border-radius: 20px;
    backdrop-filter: blur(20px);
    box-shadow: inset 0 0 55px rgba(0, 0, 0, 0.116);
    /* margin: 0 20px; */
    padding: 20px 30px;
    position: relative;
}

.report-preview-border > .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.report-preview-border > .content {
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: start;
}

.report-preview-border > .content::-webkit-scrollbar {
    display: none;
}
