.container-bar {
    position: relative;
    background: linear-gradient(
        to right,
        #B7B5EB,
        #63609E
    );
    padding: 1px;
    border-radius: 0.5rem;
}

.search-container {
    padding: 3px;
    position: relative;
    border-radius: inherit;
    padding: 5px;
    z-index: 3;
    background: #232238;
}

.search-container:focus{
    box-shadow: 0 0 5px #C1B5FF;
}



.search-container::after {
    filter: blur(5rem);
}

.search-bar-container {
    display: flex;
    width: 500px;
    flex-direction: row;

}

.search-bar-container > img {
    width: 40px;
    margin-left: 20px;
    cursor: pointer;
}

#search-bar {
    background-color: transparent;
    border: 0;
    flex-grow: 1;
    color: white;
    font-size: large;
    width: fit-content;
} 

#search-bar:active {
    border: 0;
    box-shadow: 0;
}

#search-bar:focus {
    margin: 0;
    border: 0;
    box-shadow: none;
}



