.display-picture {
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    /* margin: 10px 30px; */
    aspect-ratio: 1;
    min-width: 10px;
    border: #B7B5EB 1.8px solid;
    background: url('../assets/images/user.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    /* box-shadow: 0 0 5px white; */
}

