.single-complaint-border {
    width: 100%;
    background-color: #f5eeee;
    height: fit-content;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px rgba(0, 0, 0, 0.096);
    display: flex;
    padding: 5px 10px;
    flex-direction: row;
    margin-bottom: 8px;
}

.single-complaint-border .complaint-text {
    color: black;
}

.single-complaint-border:hover {
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.473);
}

.single-complaint-border .content-complaint {
    margin: 0;
    padding: 0 10px;
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
    align-items: flex-start;
}

.single-complaint-border .caption {
    font-size: calc(5px + 0.6vw);
}

.complaint-date {
    color: rgba(0, 0, 0, 0.521);
    align-self: flex-end;
    font-size: calc(8px + 0.4vw);
}

/* .single-complaint-border .complaint-row {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
    background-color: aqua;
} */

.image-gallery {
    width: 100%;
    display: grid;
    padding: 5px;
    gap: 2px 2px;
    justify-items: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    grid-template-columns: auto auto;
    grid-template-rows: auto;
    margin-left: auto;
    margin-right: auto;
}

.image-gallery .evidence {
    width: 100%;
    height: fit-content;
}

.complaint-footer {
    width: 100%;
    display: flex;
    flex-direction: row;
    padding: 5px;
    border-radius: 10px;
    margin: 5px;
    padding-right: 20px;
    justify-content: flex-end;
    background-color: rgba(24, 24, 24, 0.925);
}

.complaint-footer .controllers {
    cursor: pointer;
}

.complaint-footer img {
    width: 20px;
    margin-right: 10px;
}