.navigation {
    width: 25%;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-left: -10px;
}

.back-button {
    background-color: #151831;
    border-radius: inherit;
    padding: 5px 25px;
}
