.gig-border {
    position: relative;
    aspect-ratio: 2/1;
    background: url('../assets/images/stockAdobe.jpg');
    background-position: center;
    background-size:cover;
    border-radius: 10px;
}

.gig-border:hover {
    cursor: pointer;
    box-shadow: 0 0 15px white;
    background-size: 150%;
    transition: box-shadow 0.2s ease-in-out, background-size 5s ease-in-out;
}

.gig-content {
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 2rem;
    z-index: 101;
}   

.gig-content  h3 {
    color: #f3f3f390;
}

.gig-content .topic {
    color: white;
    font-size: 30px;
}

.background-blur {
    position: absolute;
    inset: 0;
    z-index: 100;
    border-radius: inherit;
    background-color: black;
    opacity: 0.45;
}

.balance {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    align-items: center;
}

.notification {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100px;

}
