.inner-screen-border {
    display: flex;
    flex-direction: column;
    padding: 2%;
    justify-content: start;
    overflow-y: scroll;
    
}

.inner-screen-border::-webkit-scrollbar {
    display: none;
}

.inner-screen-border > .row {
    display: flex;
    flex-direction: row;
    width: 100%;
    
}

.inner-screen-border > .row > .column {
        width: 50%;
        padding: 10px;
}

.inner-screen-border > .row > .main-details {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: hsla(234, 33%, 17%, 0.5);
    padding: 20px;
    border-radius: 26px;
}

.qr-row {
    max-height: 230px;
}

.inner-screen-border .card {
    width: 100%;
    aspect-ratio: 2;
    background-color: blue;
    border-radius: 26px;
}

.column > .editable-row {
    display: flex;
    /* margin-top: 20px; */
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.treasury-link {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.qr-column {
    width: fit-content;
}


.editable-row > img {
    width: 28px;
    height: 28px;
}

.ant-switch:hover {
    margin: 0;
}

.ant-input-number {
    background-color: #1E213A;
    color: white;
    font-weight: bold;
}