/* src/fonts.css */
@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto_Mono/Roboto-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto_Mono/Roboto-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Poppins';
  src: url('./assets/fonts/poppins/Poppins-Bold.ttf');
  font-weight: bold;
  font-style: normal;
}




*{
  font-family: "Roboto";
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.vertical-center {
  background-color: red;
}

/* --linearPrimarySecondary: linear-gradient(#37375c, #442d80);
--linearPrimaryAccent: linear-gradient(#37375c, #47c5ab);
--linearSecondaryAccent: linear-gradient(#442d80, #47c5ab);
--radialPrimarySecondary: radial-gradient(#37375c, #442d80);
--radialPrimaryAccent: radial-gradient(#37375c, #47c5ab);
--radialSecondaryAccent: radial-gradient(#442d80, #47c5ab); */


/* --text: #e9e7ee;
--background: #120f1a;
--primary: #37375c;
--secondary: #442d80;
--accent: #47c5ab; */

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
 #root > div {
  min-width: 100vw;
  min-height: 100vh;
  
 }

 .horizontal-page {
    display: flex;
    overflow: hidden;
    position: relative;
    flex-direction: row;
    justify-content: center;
    align-items: center;
 }

 .classical-page {
  position: absolute;
 }

 .classic-btn {
    margin: 5px 0 5px 0;
    width: 100%;
    border:0;
    background: linear-gradient(to right,#5C5AA6, #5A71FB);
 }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  /* align-items: center; */
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}

button:active {
  box-shadow: 0 1px 5px;
}

.vertical-center {
  background-color: #1a1a1a;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
